<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close" @open="create">
        <form autocomplete="off" @submit.prevent="submit">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.bank}">
                            <label class="control-label">Bancos/Caj</label> 
                           <el-select v-model="form.banks">
                                <el-option v-for="option in banks" :key="option.id" :value="option.id" :label="option.description"></el-option>
                            </el-select>
                            <small class="form-control-feedback" v-if="errors.banks" v-text="errors.banks[0]"></small>
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.monto}">
                            <label class="control-label">Monto</label>
                            <el-input v-model="form.monto"></el-input>
                            <small class="form-control-feedback" v-if="errors.monto" v-text="errors.monto[0]"></small>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.operacion}">
                            <label class="control-label">Numero de Operacion</label>
                            <el-input v-model="form.operacion"></el-input>
                            <small class="form-control-feedback" v-if="errors.operacion" v-text="errors.operacion[0]"></small>
                        </div>
                    </div> 
                </div> 
            </div>
            <div class="form-actions text-right pt-2">
                <el-button @click.prevent="close()">Cancelar</el-button>
                <el-button type="primary" native-type="submit" :loading="loading_submit">Guardar</el-button>
            </div>
        </form>
    </el-dialog>
</template>
 
<script>
 

    export default {
        props: ['showDialog', 'recordIda'],
        data() {
            return {
                loading_submit: false,
                titleDialog: null,
                resource: 'agentes', 
                errors: {}, 
                form: {},
                types:[],
                banks:[],
                users:[],
            }
        },
        created() {
               this.$http.get(`/${this.resource}/tables`)
                        .then(response => {
                            this.users = response.data.users
                        })
             this.banks = [{id:'1', description:'BANCO SCOTIABANK'}, 
             {id:'2', description:'BANCO DE CREDITO DEL PERU'},
             {id:'3', description:'BANCO DE COMERCIO'},
             {id:'4', description:'BANCO PICHINCHA'},
             {id:'5', description:'BBVA CONTINENTAL'},
             {id:'6', description:'INTERBANK'},
             {id:'7', description:'CAJA HUANCAYO'},
             {id:'8', description:'MI BANCO'}]
                
            this.tipo = [{id:'1', description:'Deposito'}, {id:'2', description:'Retiro'}]
            this.initForm() 
        },
        methods: {
            initForm() { 
                this.errors = {} 

                this.form = {
                    id: null,
                    operacion: null, 
                    monto: null,                    
                    banks:null,
                    tipo:null,
                }
            },
            create() {

                this.titleDialog = (this.recordIda)? 'Editar operacion':'Nueva operacion'
                if (this.recordIda) {
                    this.$http.get(`/${this.resource}/record/${this.recordIda}`).then(response => {
                            this.form = response.data
                        })
                }
            },
            submit() {   
 

                this.loading_submit = true  
                this.$http.post(`${this.resource}`, this.form)
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success(response.data.message)
                            this.$eventHub.$emit('reloadData')
                            this.close()
                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data 
                        } else {
                            console.log(error.response)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })
                    
            },  
            close() {
                this.$emit('update:showDialog', false)
                this.initForm()
            }
        }
    }
</script>